.submit-disabled{
  pointer-events: none !important;
  color: rgba(0, 0, 0, 0.26) !important;
  box-shadow: none !important;
  background-color: rgba(0, 0, 0, 0.12) !important;
  span{
    color: rgba(0, 0, 0, 0.26) !important;
  }
}
